*{
    list-style: none;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    /* outline: 0 !important; */
    /* position: relative; */
}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 0px;
}


/* цвета */
:root{
    /* Primary Colors */
    --SkyBlue: #00A8E9;
    --DarkBlue: #112246;

    /* Grayscale */
    --DarkGrey: #737F8B;
    --Grey: #C9D0DA;
    --lightGrey: #F7F7FC;

    /* Colors & Gradients */
    --Yellow: #FFC115;
    --Green: #00AB4E;
    --Mint: #00D9C5;
    --Blue: #053CC8;
    --Purple: #8C59E8;
    --Pink: #F97696;
    --Red: #FF4856;
    --Black: #111111;

    /* System color */
    --SystemBlack: #000000;
    --SystemWhite: #FFFFFF; 
}

.button-primary{
    padding: 11px 32px;
    border-radius: 12px;
    background: var(--DarkBlue);
    font-size: calc(18px + var(--number));
    font-weight: 500;
    color: var(--SystemWhite);
}
.button-primary:hover,.hover{
    background: var(--SkyBlue);
}
.button-primary:focus,.focus{
    outline: 8px solid rgba(179, 233, 255, 1);
}
.button-primary:disabled{
    background: var(--Grey);
    color: var(--DarkGrey);
}
@media (max-width:980px){
    .button-primary{
        padding: 33px 96px;
        font-size: 45px;
    }
}

/*Center-alignment*/
.center-alignment{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    /* transition: padding 1s ease; */
}
.center-alignment-home{
    padding-top: 90px;
    padding-left: 66px;
    transition: padding-left 1s ease;
}
@media (max-width:1280px){
    .center-alignment{
        padding-left: 66px;
        padding-right: 66px;
    } 
}
@media (max-width:980px){ /*768px*/
    .center-alignment{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (min-width:1680px){
    .center-alignment-home{
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
}

.banner-page{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 128px;
    z-index: 3;
    background-image: url("img\background.png");
}
.banner__back-logo div{
    display: flex;
    gap:32px;
    flex-direction: row;
}
@media (max-width:980px){
    .banner__back-logo img:nth-child(2){
        width: 30%;
    }
    .banner__back-logo img:nth-child(1){
        width: 10%;
    }
}
.banner__about-project{
    display: flex;
    gap:64px;
    flex-direction: column;
}
.about-project__text{
    
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.about-project__download-links{
    display: flex;
    gap:64px;
}
.download-links__QR{
    display: flex;
    gap:16px;
    flex-direction: column;
}
.links__QR_img{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    align-self: center;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.04), 0px 24px 32px 30px rgba(0, 0, 0, 0.04);
}
.links__QR_img img{
    padding: 8px;
}
.links__QR_text{
    text-align: center;
    color: var(--DarkGrey);
}
.links__QR_text br:nth-child(2){
    display: none;
}
.WTF1{
    position: absolute;
    font-size: 32px;
    font-weight: 600;
    color: var(--Purple);
    width: 280px;
    display: none;
}
.download-links__applications{
    display: flex;
    flex-direction: row;
    gap:64px;
}
.download-links__applications-app{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap:8px;
    width: 50%;
    text-align: center;
}
.download-links__applications-app a{
    display: flex;
    justify-content: center;
}
.links__applications_version{
    color: var(--DarkGrey);
}
.banner__container-absolute{
    width: 100%;
    position: absolute;
}
.banner__container-relative{
    position: relative;
    height: 650px;
    overflow: hidden;
}
.banner__background-img{
    position: absolute;
    top: -284px;
    right:-230px;
}
.banner__mask-img{
    position:absolute;
    filter: drop-shadow(20px -25px 10px rgba(0, 0, 0, 0.16));
    top: 0;
    right: 0px;
}
@media (min-width:1280px){
    .about-project__text{
        width: 570px;
    }
    
}
@media (max-width:1280px){
    .banner__background-img{
        width: 1361.05px;
        height: 1061.26px;
        top: -243px;
        right: -214px;
    }
    .banner-page{
        padding-top: 652px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 32px;
    }
    .banner__back-logo div,.banner__about-project{
        margin-left: 32px;
    }
}
@media (max-width:980px){ /*768px*/
    .download-links__applications{
        justify-content: space-around;
    }
    .download-links__applications-app img{
        width: 60%;
        min-width:224px;
    }
    .about-project__download-links{
        flex-direction: column;
    }
    .links__QR_img{
        width: 240px;
        height: 240px;
    }
    .links__QR_img img{
        width: calc(100% - 16px);
    }
    .links__QR_text br:nth-child(1){
        display: none;
    }
    .links__QR_text br:nth-child(2){
        display: block;
    }
    .links__applications_text{
        height: 67px;
    }
    .about-project__text{
        width: auto;
    }
    .WTF1{
        display: block;
    }
}
@media (max-width:768px){
    .banner__background-img{
        width: 567.105px;
        height: 441.622px;
        top:-102px;
        right:-89px;
    }
    .banner__mask-img{
        width: 651.667px;
        height: 315.333px;
    }
    .banner-page{
        padding-top: 290px;
        gap: 32px;
        
    }
    .banner__back-logo div,.banner__about-project{
        margin-left: 0px;
    }
}
@media (max-width:320px){
    .banner-page{
        padding-left: 15px;
    }

}

.list-page{
    z-index: 1;
    position: relative;
    padding-top: 64px;
    padding-bottom: 64px;
}
.list-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.list__card{
    padding: 24px 32px;
    width: calc(33.33% - 68px);
    max-width: 100%;
    display: flex;
    gap:24px;
    flex-direction: column;
    align-items: center;
}
.card__texts{
    display: flex;
    flex-direction: column;
    gap:16px;
    text-align: center;
}
.card__texts p{
    color: var(--DarkGrey);
}

@media (max-width:1280px){
    .list-cards{
        flex-wrap: wrap;
    }
    .list__card{
        width: calc(50% - 64px - 15px);
    }
    .list__card-1{
        margin-right: 30px;
    }
    .list__card img{
        width: 35%;
    }
}
@media (max-width:768px){
    .list-cards{
        flex-wrap: wrap;
    }
    .list__card{
        padding: 24px 16px;
        width: calc(100% - 32px);
    }
    .list__card-1{
        margin-right: 0px;
    }
    .card__texts{
        max-width: 296px;
    }
}
.about-order-page,.about-order_card,.about-order_card__info-block,.about-order_card__text-block,.about-order_card__text-block div{
    display: flex;
    flex-direction: column;
}
.about-order-page{
    gap:0px;
    padding-top: 64px;
    padding-bottom: 64px;
}
.about-order_card{
    flex-direction: row;
    justify-content: space-between;
}
.about-order_card img,.about-order_card div{
    width: calc(50%-30px);
    max-width: 570px;
}
.about-order_card:nth-child(2) img{
    order: 2;
}
.about-order_card__info-block{
    gap:42px;
}
.about-order_card__text-block{
    gap:24px;
    margin-top: 128px;
}
.about-order_card__text-block div{
    gap:16px;
}
@media (max-width:1280px){
    .about-order_card{
        flex-direction: column;
        align-self: center;
    }
    .about-order_card:nth-child(1) img{
        order: 2;
    }
    .about-order_card:nth-child(3) img{
        order: 2;
    }
    .about-order_card{
        gap:64px;
    }
    .about-order_card:nth-child(1) div{
        margin-top: 0;
    }
    .about-order_card__text-block{
        margin-top: 64px;
        gap:32px;
    }
    .about-order_card__info-block{
        gap:60px;
    }
    .about-order_card__text-block div{
        gap:24px;
    }
    .about-order_card div{
        width: calc(100%);
        max-width: 100%;
    }
    .about-order_card img{
        align-self: center;
    }
}

.how-works-page{
    padding-bottom: 64px;
    padding-top: 64px;
    overflow: hidden;
}
.how-works_title{
    display: flex;
    flex-direction: column;
    gap:24px;
    text-align: center;
    justify-content: center;
    
}
.how-works_info{
    position: relative;
    display: flex;
    justify-content: center;
}
.how-works_info img{
    position: absolute;
    z-index: 2;
}
.how-works_info p{
    padding: 12px 32px;
    color:var(--SystemWhite);
    width: calc(360px - 64px);
    z-index: 2;
}
.how-works_info div > div:nth-child(1) > p:nth-child(1){
    border-radius: 24px;
    border: 2px solid var(--Primary, #00A8E9);
    background: rgba(0, 168, 233, 0.75);
    box-shadow: 0px 0px 24px 0px #00A8E9;
}
.how-works_info div > div:nth-child(1) > p:nth-child(2){
    border-radius: 24px;
    border: 2px solid #053CC8;
    background: rgba(5, 60, 200, 0.75);
    box-shadow: 0px 0px 24px 0px #053CC8;
}
.how-works_info div > div:nth-child(2) > p:nth-child(1){
    border-radius: 24px;
    border: 2px solid var(--Mint, #00D9C5);
    background: rgba(0, 217, 197, 0.75);
    box-shadow: 0px 0px 24px 0px #00D9C5;
}
.how-works_info div > div:nth-child(2) > p:nth-child(2){
    border-radius: 24px;
    border: 2px solid #FFC115;
    background: rgba(255, 193, 21, 0.75);
    box-shadow: 0px 0px 24px 0px #FDB62F; 
}
.how-works_info div > div:nth-child(2) > p:nth-child(3){
    border-radius: 24px;
    border: 2px solid var(--Pink, #F97696);
    background: rgba(252, 64, 127, 0.75);
    box-shadow: 0px 0px 24px 0px #FF4080;
}
.how-works_info img:nth-child(3){
    z-index: 1;
}
.how-works_info__cards{
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    width: 100%;
    justify-content: space-between;
    z-index: 3;
}
.how-works_info__cards div{
    display: flex;
    flex-direction: column;
    gap:100px;
    align-self: center;
}
.how-works-page{
    height: calc(850px);
}
@media (max-width:1280px){
    .how-works_info__cards{
        gap:32px;
        justify-content: center;
        margin-top: 750px;
    }
    .how-works_info__cards div{
        align-self: start;
        gap:32px;
    }
    .how-works_info__cards div:nth-child(1){
        gap:32px;
        order: 2;
    }
    .how-works-page{
        height: calc(1250px);
    }
}

@media (max-width:980px){
    .how-works_info img:nth-child(1){
        width: 300%;
        min-width: 2760px;
    }
    .how-works_info img:nth-child(3){
        display: none;
    }
    .how-works_info__cards{
        gap:32px;
        justify-content: center;
        margin-top: 1600px;
    }
    .how-works-page{
        height: calc(2350px);
    }
}
@media (max-width:768px){
    .how-works_info img:nth-child(1){
        width: 150%;
        min-width: 1460px;
        max-width: 1460px;
    }
    .how-works_info__cards{
        flex-direction: column;
    }
    .how-works_info__cards div{
        align-self: center;
    }
    .how-works_info p{
        max-width: 638px;
        width: calc(100% - 64px);
    }
    .how-works_info__cards{
        gap:32px;
        justify-content: center;
        margin-top: 900px;
    }
    .how-works-page{
        height: calc(1940px);
    }
}
